.rounded-div {
    border-radius: 50px 50px 50px 50px;
    border: #ced4da 1px solid;
}

.squared-div {
    border: 1px solid #ced4da;
    background-color: white;
}

/* Change bootstrap form glow to a slight gray highlight */
.form-control:focus {
    border-color: darkgray;
    box-shadow: none;
}
