#chats-div-wrapper {
  min-height: calc(100vh - 300px);   
}

#messenger {
  min-height: calc(100vh - 300px);   
  max-height: calc(100vh - 300px);   
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.chat-container {
  overflow-y: auto;
}

.message-left {
  background: #eee;
  margin-left: 1em;
}

.message-right {
  background: #0084ff;
  color: #fff;
  padding-right: 0;
}

.message-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
