#chats-div {
  min-height: calc(100vh - 300px);   
}

#messenger-div {
  min-height: calc(100vh - 300px);   
  max-height: calc(100vh - 300px);   
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.conversation-container {
  overflow-y: auto;
}

.chat-left{
  background: #eee;
  margin-left: 1em;
}

.chat-right{
  background: #0084ff;
  color: #fff;
  padding-right: 0;
}

.message-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}